//
// Author: OSTON <ti@oston.io>
// Name: Martina
// Description: Nuxt styles
// File: animations.scss
// Location: @/assets/sass/core
//

// vars
$black: #000;
$white: #fff;
$grey: #707070;
$tim-blue: #063b88;
$cyan: #4bcfff;
$blue: #074793;
$light-blue: #137cba;
$dark-blue: #004791;
$red: #d00b2c;
$yellow: #fab932;
$orange: #dc8200;
$green: #82c85a;
$dark-green: #30a500;

$colors: (
  black: #000,
  grey-100: #eee,
	grey: #ccc,
  grey-600: #999,
  grey-700: #666,
	grey-900: #333,
	yellow: #f9d937,
	green: #00d319,
	white: #fff,
	danger: tomato
);
