//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/views/_components/helpers/loading
//
.loading {
	&\:default {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 5;

		@include display(flex, center, center);

		> div {
			position: relative;
			@include size(6, 22);
		}

		i {
			@include display(block);
			@include circle(6);
			margin: 0 rem(1);
			position: absolute;

			-webkit-animation: dots-jump 1.2s infinite ease;
			animation: dots-jump 1.2s infinite ease;
			animation-delay: 0s;

			&:nth-child(2) {
				animation-delay: 0.2s;
				right: 7px;
			}

			&:nth-child(3) {
				animation-delay: 0.4s;
				right: 0;
			}
		}
	} // -> default
} // -> loading
