//
// Author: OSTON <ti@oston.io>
// Name: Martina
// Description: Nuxt styles
// File: display.scss
// Location: @/assets/sass/layout
//

@mixin height($max, $min: height) {
	$height: 0;

	@if $max == screen {
		$height: 100vh;
	} @else {
		$height: rem($max);
	}

	@if $min == min {
		min-height: $height;
	} @else if $min == max {
		max-height: $height;
		height: 100%;
	} @else {
		height: $height;
	}
}

@mixin width($max: screen, $flex: none) {
	$maxWidth: none;

	@if $max != screen AND $max != auto {
		$maxWidth: rem($max);
	}

	width: 100%;
	@if $max != screen AND $max != auto {
		max-width: $maxWidth;
  }

  @if $flex == flex {
    flex: 0 0 rem($max);
  }
}

@mixin size($height, $width: $height) {
	@include height($height);
	@include width($width);
}
