//
// Author: OSTON <ti@oston.io>
// Name: Martina
// Description: Refactoring Esportes Radicais
// File: index.scss
// Location: @/Views/Home
//
.home {
  padding: {
    top: rem(30)
  }

  &\:title {
    @include color(grey-900);
    font-size: rem(16);
    letter-spacing: rem(1);
    font-weight: 500;
    text-transform: uppercase;

    margin: {
      top: rem(16);
      bottom: rem(25);
    }
  } // title
} // home
