//
// Author: OSTON <ti@oston.io>
// Name: Martina
// Description: Refactoring Esportes Radicais
// File: index.scss
// Location: @/views/components/helpmenu
//

._listmenu {
  @include width(auto);
  @include margin(center);
  margin: {
    top: rem(10);
  }

  &\:link {
    @include size(57, screen);
    @include display(flex, space-between, center);
    border-top: rem(1) solid color(grey);

    @include color(grey-900);
    text-decoration: none;
    font-size: rem(19);
  } // link

  &\:arrow {
    @include size(22);
    stroke: color(green);
  } // arrow

} // helpmenu
